<h4>Average Prices Plotted</h4>

<div class="row">
  <div class="col-md-6">
    {{ember-chart type='line' data=numberData options=lineOptions height=1 width=1}}
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Date</th>
      <th>Avg</th>
      <th>Volume</th>
      <th>Adj Close</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.quotes as |quote|}}
      <tr>
        <td>{{quote.symbol}}</td>
        <td>{{quote.date}}</td>
        <td>{{quote.avg}}</td>
        <td>{{quote.volume}}</td>
        <td>{{quote.adjClose}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>



{{outlet}}
